.danger-button {
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  align-items: center !important;
}
.small-text {
  font-size: 0.8rem;
  margin: 0px !important;
}
h5 {
  color: #111;
}
