.danger-button {
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  align-items: center !important;
}
.small-text {
  font-size: 0.8rem;
  margin: 0px !important;
}
h5 {
  color: #111;
}
.title {
  font-family: "Shippori Mincho B1", serif;
}
.bg-home {
  background: url("./Assets/home.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.overlay {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  opacity: 0.6;
}
.z-10 {
  z-index: 10;
}

.map-container {
  width: 100%;
  height: 60vh;
}
.list-group-rev {
  flex-direction: column-reverse !important;
}
.align-items-end-lg {
  align-items: flex-end;
}
.text-right-lg {
  text-align: right;
}
.text-left-lg {
  text-align: left;
}
.display-5 {
  font-size: 2em;
}
@media screen and (max-width: 600px) {
  .home-image {
    margin: 0px auto !important;
  }
  .text-left-lg {
    text-align: center !important;
  }
  .change-order {
    flex-direction: column-reverse !important;
  }
  .text-sm-center,
  .align-items-end-lg .text-right-lg {
    text-align: center !important;
    align-items: center !important;
  }
}
